<h2>Cadastrar Conta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: 'Digite um email válido' %>
  </div>

  <div class="field">
    <%= f.label :password, 'Senha' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: 'Digite uma senha'%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirmação de senha' %><br />
    <%= f.password_field :password_confirmation, placeholder: 'Confirme sua senha' %>
  </div>

  <div class="actions">
    <%= f.submit 'Criar' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
