<div class="subtittle">
<h2>Acessar Conta</h2>
</div>
<div class="card-login">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: 'Digite seu email' %>
  </div>

  <div class="field">
    <%= f.label :password, 'Senha' %><br />
    <%= f.password_field :password,placeholder: 'Digite sua senha' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Lembrar Conta' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Iniciar Sessão" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<%= link_to 'Voltar', root_path %>
</div>