<!DOCTYPE html>
<html>
  <head>
    <title>LuhhPersonalize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <div class="tittle">
      <h1>Luhh Personalize</h1>
    </div>
  
    <div class="login-link">
      <% if admin_signed_in? %>
        <%= button_to 'Encerrar Sessão', destroy_admin_session_path, method: :delete %>
      <% elsif %>
        <%= link_to 'Administrador', new_admin_session_path %>
      <% end %>
    </div>
    </header>
    <%= notice %>
    <%= yield %>
  </body>
</html>
